registry=http://private-npm.fieldintech.com:4873
always-auth=true
//localhost:4873/:_auth="ZmllbGRpbjpZT1VSX1BBU1NXT1JEX0hFUkU="
//private-npm.fieldintech.com:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJmaWVsZGluIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJmaWVsZGluIiwiZ3JvdXBzIjpbImZpZWxkaW4iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJmaWVsZGluIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTc2OTMyODUyNSwibmJmIjoxNzY5MzI4NTI1LCJleHAiOjE3NzE5MjA1MjV9.tGh-RmGMiz64-DMA0u_iTnpF1TXGyLXVUzXJJs6xenY
email=ddd@gmail.com
//localhost:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJmaWVsZGluIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJmaWVsZGluIiwiZ3JvdXBzIjpbImZpZWxkaW4iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJmaWVsZGluIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTc2MDUyNTUxOSwibmJmIjoxNzYwNTI1NTE5LCJleHAiOjE3NjMxMTc1MTl9.tsrkNtiwIZyb2pv-pKvZa6zr7jkPFocFJbvNssKAlrI
@fieldin:registry=http://private-npm.fieldintech.com:4873/
